# === Eclipse / STS 관련 ===
.metadata
.settings/
.project
.classpath
.springBeans
.sts4-cache/
.externalToolBuilders/
*.launch
*.pydevproject
.cproject
.autotools
.factorypath
.loadpath
.buildpath
.apt_generated/
.apt_generated_test/
.cache-main
.scala_dependencies
.worksheet
.tern-project
.texlipse
target/
tmp/
bin/

# === OS / 시스템 파일 ===
*.DS_Store
*.swp
*.bak
*~.nib

# === 빌드/배포 산출물 ===
*.class
*.jar
*.war
*.zip
*.ear
*.nar
*.tar.gz
*.log

# === JVM 크래시 로그 ===
hs_err_pid*
replay_pid*
